@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap");

body {
  margin: 0;
  background-color: #f2f1f0;
}

.nav {
  background-color: #f2f1f0;
}

html {
  scroll-behavior: smooth;
}
.card {
  height: 600px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.d-none {
  display: none;
}

.cart {
  border: green 5px solid;
  font-size: 30px;
  text-decoration: underline;
  box-shadow: 1px 5px 10px green;
}

li {
  list-style: none;
}

.card {
  position: relative;
  height: 650px;
  background-color: white;
  color: black;
  margin-top: 10px;
  border-radius: 10px;
}

.newButton {
  position: absolute;
  background-color: rgb(5, 181, 5);
  width: 100px;
  height: 30px;
  border-radius: 20px;
  font-size: 10px;
  color: white;
  font-weight: bold;
  top: -10px;
  left: -10px;
}

.c-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 50% 50%;
}

h1 {
  color: rgb(1, 15, 17);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2em;
}

.search-button {
  background-color: rgba(0, 0, 0, 0.81);
  margin-right: 5px;
  border: none;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}
input {
  border-radius: 5px;
}

.removeButton .btn-primary {
  display: none;
}
.removeButton .btn-warning {
  display: none;
}
.removeButton {
  height: 600px;
  width: 300px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
}

.removeButton button {
  border: none;
  margin: 2px;
  border-radius: 20px;
}

#emptyCart {
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  border: none;
}
